:root {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    --dark-gray: #252525;
    --black: #121212;
    --white: #FEFEFE;
    --hover: #bd7a22;
    --active: #5b1023;
}

body {
    background-color: var(--black);
}

header {
    background: url("./img/bg.jpg");
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
}

.navbar img, .logo {
    width: 200px;
}

.navbar-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.lista {
    display: inline;
    margin-left: 15px;
}

.lista-link {
    list-style-type: none;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    color: var(--white);
}

.lista-link:hover {
    color: var(--hover);
    text-decoration: underline;
}

.lista-link:active {
    color: var(--active);
}

.img-banner {
    width: 100vw;
    margin: 0 auto;
    display: block;
}

/* Estilização das Seções Intercaladas: PRETO, BRANCO, PRETO */
.sobre-barber-shop {
    background-color: var(--black);
    color: var(--white);
}

.conteudo-beneficios {
    background-color: var(--white);
    color: var(--black);
}

.nosso-estabelecimento {
    background-color: var(--black);
    color: var(--white);
}

.main-sections {
    padding: 3em 0;
}

.main-sections-container {
    width: 940px;
    margin: 0 auto;
}

.main-sections p {
    font-weight: 400;
}

.titulo-principal {
    display: inline-block;
    text-align: center;
    padding: 0.25em 0 0;
    font-size: 1.75em;
    font-weight: 700;
    color: var(--active);
}

/* Sombra Branca para títulos em fundos pretos */
.sobre-barber-shop .titulo-principal,
.nosso-estabelecimento .titulo-principal {
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.6);
}

/* Sombra Escura para títulos em fundo branco */
.conteudo-beneficios .titulo-principal {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.img-utensilios {
    width: 20%;
    float: left;
    margin: 0 20px 5px 0;
}

.icone-e-titulo {
    width: auto;
    margin: 0 auto 1.5rem;
    text-align: center;
}

#img-icon-top-titulo {
    display: inline-block;
    width: 10px;
    height: auto;
    padding-right: 10px;
    top: 10%;
    transform: translate(0, 20%);
}

p em {
    font-size: 20px;
    font-weight: bold;
}

p em strong {
    font-style: italic;
    font-weight: normal;
    color: inherit;
}

section p {
    padding-bottom: 15px;
    line-height: 1.5rem;
}

.mapa-conteudo {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.icone-titulo {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.beneficios {
    width: 100%
}

.lista-beneficios {
    width: 40%;
    padding: 10px 5%;
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
}

.lista-item {
    padding: 10px 5px 5px;
}

.lista-item:first-child {
    font-weight: bold;
}

.lista-item:before {
    content: "✄";
    padding-right: 5px;
}

.img-beneficios {
    width: 50%;
    vertical-align: text-top;
    margin: 25px 0 0;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 5px #000;
}

.img-beneficios:hover {
    opacity: 0.7;
}

.video {
    width: 560px;
    margin: 1em auto 0;
}

.rodape {
    background: url("./img/bg.jpg");
    padding: 20px 0;
    text-align: center;
}

.rodape img {
    width: 200px;
}

#copyright {
    color: #f6f6f6;
    font-size: 12px;
    margin: 10px 0 0;
}

@media screen and (max-width: 480px) {
    .main-sections-container {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .img-banner {
        width: 100%;
    }

    .lista-beneficios, .img-beneficios {
        width: 100%;
    }

    .video {
        width: 100%;
    }
}
