:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    /* color: var(--dark-color); */
    --dark-color: #242524
}

header {
    background: #F6F6F6;
    padding: 20px;
    box-shadow: inset 0px 0px 1000px #000;
}

.banner {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
}

.banner img, .logo {
    width: 200px;
}

.navegacao {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.lista {
    display: inline;
    margin-left: 15px;
}

.lista-link {
    list-style-type: none;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    color: var(--dark-color)
}

.lista-link:hover {
    color: #5b1023;
    text-decoration: underline;
}

.lista-link:active {
    color: #bd7a22;
}

main {
    width: 940px;
    margin: 50px auto;
}

form label, form legend {
    display: block;
    margin-bottom: 10px;
}

.input-padrao {
    margin-bottom: 20px;
    width: 50%;
    padding: 10px 25px;
}

.secao-contato {
    margin-bottom: 30px;
}

#checkbox {
    margin: 10px 0;
}

#botao-envio {
    width: 40%;
    padding: 15px 20px;
    margin-left: 70px;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: bold;
    color: #f6f6f6;
    background-color: #5b1023;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}

#botao-envio:hover {
    background-color: #bd7a22;
    color: var(--dark-color);
    transform: scale(1.05);
}

table {
    margin: 50px;
}

tr th {
    background-color: var(--dark-color);
    border: 1px solid var(--dark-color);
    color:#f6f6f6;
    font-size: 16px;    
    font-weight: 400;
    padding: 10px;
}

tr td {
    border: 1px solid var(--dark-color);
    padding: 10px;
    font-size: 16px;
    vertical-align: middle;
}

.rodape {
    background: url("./img/bg.jpg");
    padding: 20px 0;
    text-align: center;
}

.rodape img {
    width: 200px;
}

#copyright {
    color: #f6f6f6;
    font-size: 12px;
    margin: 10px 0 0;
}

@media screen and (max-width: 480px) {

    .banner {
        width: 100%;
        text-align: center;
    }

    .navegacao {
        position: static;
        padding: 10px 0 20px;
    }

    .lista {
        font-size: 12px;
        margin-left: 8px;
    }

    main {
        width: 100%;
        margin: 50px 20px;
    }

    form {
        width: 90%;
        padding-right: 10px;
    }

    #botao-envio {
        width: auto;
        font-size: 14px;
        padding: 15px;
    }
}